@model WayFarer.Controllers.CityViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WayFarer - @Model.Id != null ? "Edit City" : "Add City"</title>
    <link rel="stylesheet" href="~/css/manageCitiesStyle.css">
</head>
<body>

    <section id="city-form">
        <h2>@(Model.Id > 0 ? "Edit City" : "Add New City")</h2>

        <form asp-action="@(Model.Id > 0 ? "ManageCitiesEdit" : "ManageCitiesAdd")" asp-controller="Admin" method="post">
            @if (@Model.Id > 0)
            {
                <input type="hidden" asp-for="Id" />
            }
            <input type="hidden" value="@Model.Image" asp-for="Image" />

            <div class="form-group">
                <label asp-for="Name">City Name</label>
                <input type="text" asp-for="Name" required />
            </div>

            <div class="form-group">
                <label asp-for="Description">Description</label>
                <textarea asp-for="Description" required></textarea>
            </div>

            <!-- Form Actions -->
            <div class="form-actions">
                <button type="button" class="btn cancel-btn" onclick="window.history.back();">Cancel</button>
                <button type="submit" class="btn save-btn">@(Model.Id > 0 ? "Update City" : "Add City")</button>
            </div>
        </form>
        <br />
        <div class="form-group">
            <div class="col-md-12">
                <form id="cityPhotoEdit" asp-controller="Admin" asp-action="UploadCityPhoto"
                      asp-route-id="@Model.Id"
                      enctype="multipart/form-data" class="dropzone">
                </form>
            </div>
        </div>
    </section>




    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script type="text/javascript">
        Dropzone.options.cityPhotoEdit = {
            init: function () {
                let cityPhotoEdit = this;

                cityPhotoEdit.options.maxFiles = 1;
                cityPhotoEdit.options.addRemoveLinks = true;

                cityPhotoEdit.options.renameFile = function (file) {
                    return new Date().getTime() + '_' + file.name.replace(" ", "_");
                }
            },
            success: function (file, response) {
                console.log({ file, response });
            }
        };
    </script>

</body>
</html>
